@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

body {
  font-family: 'Cabin', sans-serif;
}

#role {
  color: #B06500;
}

#name {
  color: #542C06;
}

#description,
#other-details,
#candidate-role,
#details-heading,
#personal-details,
#contact-info {
  color: #542C06;
}

#personal-details,
#contact-info {
  font-weight: 600;
}

#notes {
  color: #787878;
}

#details-right-bg {
  background-color: #fffaef;
  width: 87vw;
}

#key-points,
#gp-quotient {
  width: 40rem;
}

#gp-quotient,
#top-attributes {
  height: 22rem;
}

#experience-achivements,
#top-attributes {
  width: 55rem;
}

#detail-right {
  width: 100rem;
}

#key-points,
#gp-quotient,
#experience-achivements,
#gp-score,
#top-attributes {
  box-shadow: 4px 4px 4px 0px rgba(176, 101, 0, 0.2);
}

.custom-box-shadow {
  box-shadow: 2px 0px 12px 4px rgba(0, 0, 0, 0.25);
}

.custom-border-bottom {
  border: 1px solid rgba(46, 26, 0, 0.45);
}

#top-5-attributes {
  background: rgba(250, 143, 45, 1);
  border: 2px solid rgba(250, 143, 45, 1);
}

#quotient {
  background: rgba(247, 204, 165, 0.38);
  box-shadow: 1.9461181163787842px 4.540942192077637px 5.838354587554932px 0px rgba(176, 101, 0, 0.2);
}

.custom-class canvas {
  width: 70px;
  height: 70px;
}